<div id="welcomeContainer" style="display: none;">
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/Qubik Client Logo.png"/>
        <span id="welcomeHeader">PLEASE READ</span>
        <span id="welcomeDescription">Hello User! Welcome to the first Qubik Launcher UI-Update Build. This build brings some changes with it. You can visit all changes on the About menu in the settings. To play Minecraft with the Qubik Client please select the version: Qubik Launcher - Alpha</span>
        <br>
        <span id="welcomeDescCTA">You are just a few clicks away from playing with the QubikClient.</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUE
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>